{% extends "base.html" %}
{% block title %}Datos{% endblock %}
{% block content %}

<section class="menu-desplegable">
    {% if conexion == "bien" %}
        <p>Conexión exitosa a la base de datos.</p>
        <h3>Tablas disponibles:</h3>
        <table>
            <thead>
                <tr>
                    <th>Nombre de la Tabla</th>
                </tr>
            </thead>
            <tbody>
                {% for tabla in tablas %}
                    <tr>
                        <td><a href="/tablas/{{ tabla[0] }}">{{ tabla[0] }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif conexion == "mal" %}
        <p>Error al conectar a la base de datos.</p>
    {% endif %}


</section>

{% endblock %}