{% extends "base.html" %}
{% block title %}Inidice{% endblock %}
{% block content %}

<section class="menu-desplegable">
    <h2>Introduzca sus datos</h2>

    <form action="/datos" method="post" class="formulario">
        <div class="campo">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Usuario" required>
        </div>
        <div class="campo"></div>
            <label for="basedatos">BaseDatos</label>
            <input type="text" id="basesdatos" name="basedatos" placeholder="BaseDatos" required>
        </div>
        <div class="campo">
            <label for="contrasenia">Contraseña</label>
            <input type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña" required>
        </div>
        <button type="submit">Enviar</button>
    </form>
</section>

{% endblock %}